#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@ --parallel

override_dh_install:
	sed 's/my $$VERSION = .*/my $$VERSION = "$(shell head -n 1 debian/changelog | cut -d " " -f 2 | sed -e 's/(//; s/)//;' | cut -d "-" -f 2)";/' apt-build > debian/apt-build/usr/bin/apt-build
	install -d -m 755 debian/apt-build/usr/share/apt-build
	install -m 644 debian/Release debian/apt-build/usr/share/apt-build/
